<div class="heading heading-flex mb-3" th:fragment="container7-heading">
    <div class="heading-left">
        <h2 class="title">Trending Products</h2><!-- End .title -->
    </div><!-- End .heading-left -->

    <div class="heading-right">
        <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="trending-top-link" data-toggle="tab"
                   href="#trending-top-tab" role="tab" aria-controls="trending-top-tab"
                   aria-selected="true">Top Rated</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="trending-best-link" data-toggle="tab"
                   href="#trending-best-tab" role="tab" aria-controls="trending-best-tab"
                   aria-selected="false">Best Selling</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="trending-sale-link" data-toggle="tab"
                   href="#trending-sale-tab" role="tab" aria-controls="trending-sale-tab"
                   aria-selected="false">On Sale</a>
            </li>
        </ul>
    </div><!-- End .heading-right -->
</div><!-- End .heading -->