<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head}"></head>

<body>
    <div class="page-wrapper">

        <header th:replace="~{layout/header :: header}" />

        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Checkout<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <div class="checkout-discount">
                            <form action="#">
                                <input type="text" class="form-control" required id="checkout-discount-input">
                                <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click
                                        here to enter your code</span></label>
                            </form>
                        </div><!-- End .checkout-discount -->
                        <form th:action="@{/checkout}" method="post"></form>
                        <div class="row">
                            <div class="col-lg-9">
                                <form method="post" novalidate th:object="${user}">
                                    <h2 class="checkout-title">Billing Details</h2>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Full Name *</label>
                                            <input type="text" class="form-control" name="username"
                                                th:field="*{username}" required readonly>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Email *</label>
                                            <input type="email" class="form-control" name="email" th:field="*{email}"
                                                required readonly>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Phone Number *</label>
                                            <input type="tel" class="form-control" name="phoneNumber"
                                                th:field="*{phoneNumber}" required>
                                        </div>
                                    </div>

                                    <label>Address *</label>
                                    <input type="text" class="form-control" name="addressLine" required
                                        th:field="*{address}">

                                    <!--                                <div class="row">-->
                                    <!--                                    <div class="col-sm-6">-->
                                    <!--                                        <label>District *</label>-->
                                    <!--                                        <input type="text" class="form-control" name="district" required>-->
                                    <!--                                    </div>-->
                                    <!--                                    <div class="col-sm-6">-->
                                    <!--                                        <label>Province *</label>-->
                                    <!--                                        <input type="text" class="form-control" name="province" required>-->
                                    <!--                                    </div>-->
                                    <!--                                </div>-->

                                    <label>Order notes (optional)</label>
                                    <textarea class="form-control" name="notes" cols="30" rows="4"
                                        placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                                </form>
                            </div>

                            <aside class="col-lg-3">
                                <div class="summary">
                                    <h3 class="summary-title">Your Order</h3>
                                    <table class="table table-summary">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item : ${cart.getCartDetails()}">
                                                <td><a href="#" th:text="${item.getFlower().getFlowerName()}">Product
                                                        name</a></td>
                                                <td th:text="${#numbers.formatDecimal(item.getTotalPrice(), 0, 'COMMA', 0, 'POINT')} + ' VNĐ'">$0.00</td>
                                            </tr>
                                            <tr class="summary-total">
                                                <td>Total:</td>
                                                <td th:text="${#numbers.formatDecimal(cart.getTotalPrice(), 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <button type="submit"
                                        class="btn btn-outline-primary-2 btn-order btn-block">
                                    <a th:href="@{/order}" class="btn-text">Place Order</a>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                    </button>
                                </div>
                            </aside>
                        </div>
                        </form>
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <head th:replace="~{layout/footer :: footer}" />
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->


    <!-- Plugins JS File -->

    <head th:replace="~{layout/script :: script}" />
</body>


<!-- Mirrored from portotheme.com/html/molla/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 19 Jan 2024 02:58:25 GMT -->

</html>